html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: cursive;
}
 header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
   
    background: rgba(0, 0, 0, 0.719);

   }
.header .heading{
    font-size: 3.5rem;
    font-weight: bolder;
   color: orange;
   text-decoration: none;
}
.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #ffffffa2;
}
.header .navbar a:hover{
    color: orange;
}
.image img{
    width: 100vw;
    height: 100vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
section{
    position: absolute;
    height: 500px;
    width: 400px;
    top: 9%;
   bottom: 50%;
   left: 60%;
}
section .info h2{
    margin-bottom: 2px;
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    font-family: cursive;
}
section .info h2 span{
    color: orange;
}
section .info p{
    color: #fff;
    font-size:1.5rem ;
    font-family: cursive;
}
section .info h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1.5px;
}
section .info h3 span{
    color: orange;

}
section .info .reservation{
    font-size: 2.1rem;
   color: whitesmoke;
}
form label{
    color: #fff;
    font-size: 1.6rem;
}
.form input{
    width: 200px;
    margin-left: 2rem;
    margin-bottom: 1.5rem;
   padding: 7px 50px;
   border: none;
   border-radius: 4px;
   background-color: rgba(255, 255, 255, 0.562);
   font-family: 1.5rem;
}
input ::placeholder{
   font-size: 2rem;
}
.form .msg {
    padding: 30px;
    margin-left: 6px;
    width: 230px;
}
.form .btn{  
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: rgba(255, 166, 0, 0.699);
    border-radius: 50px;
    padding: 5px 25px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 26px;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 112%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}